---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Lato", serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$dark:            #2F2F2F;
$light:             #F6F7F7;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          768px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px 0px;
  overflow: auto;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

body {
  width: 100%;
  background: $light;
  font-family: $base-font-family;

  @media (min-width: 768px) {
    background: $dark;
  }
}

.wrapper{
  display: block;
  position:absolute;
  height:inherit;
  bottom:0;
  top:0;
  left:0;
  right:0;

  @media (max-width: 768px) {
    height: auto;
  }
}

/**
 * Top Section
 */

.top a.text-link {

  text-decoration: none;

  background: $dark;
  color: #F6F7F7;
  margin-left: 10px;
  box-shadow: 10px 0 0 $dark, -10px 0 0 $dark;
  padding: 10px 0px;

  &:visited {
    color: #F6F7F7;
  }

  &:hover {
    cursor: pointer;
    color: $dark;
    box-shadow: 10px 0 0 #8ADD8A, -10px 0 0 #8ADD8A;
    background: #8ADD8A;
  }

  @media (min-width:768px){
    background: #F6F7F7;
    color: $dark;
    margin-left: 10px;
    box-shadow: 10px 0 0 #F6F7F7, -10px 0 0 #F6F7F7;
    padding: 10px 0px;

    &:visited {
            color: $dark;
        }

    &:hover {
      cursor: pointer;
      color: #F6F7F7;
      box-shadow: 10px 0 0 #8ADD8A, -10px 0 0 #8ADD8A;
      background: #8ADD8A;
    }

  } 
}

.top {
  right: 0;
  bottom: 0;
  left: auto;
  color: $dark;
  margin-bottom: 45px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  overflow-x: hidden;


  @media (min-width: 768px) {
    overflow-x: visible;
    height: 40%;
  }

  @media (max-height: 680px) and (min-width: 768px){
    // height: 30%
  }

  h1 {
    display: inline-block;
    font-weight: 400;
    position: relative;
    line-height: 1.2em;
    font-size: 45px;
    margin-top: 35px;

    &:focus {
      outline: none;
    }

    @media (max-width:768px){
      margin-top: 25px;
      font-size: 30px;
    }

    @media (max-height: 680px) and (min-width: 768px){
      margin-top: 25px;
      font-size: 30px;
    }

  }

  h2 {
    margin-top:15px;
    font-weight: normal;
    line-height: 2.0em;
    font-size: 20px;

    &:focus {
      outline: none;
    }

    @media (max-width:768px){
      font-size: 18px;
    }

    @media (max-height: 680px) and (min-width: 768px){
      font-size: 18px;
    }

  }

  h3 {
    font-weight: normal;
    position: relative;
    line-height: 1.2em;

    &:focus {
      outline: none;
    }

    @media (max-width:768px){
      font-size: 16px;
    }

    @media (max-height: 680px) and (min-width: 768px){
      font-size: 16px;
    }
  }

  .headline {
    display: block;
  }

  .logo-link  {
      position: relative;
      display: inline-block;
      margin-right: 20px;
      margin-top: 35px;
      float: left;
      height: 55px;
      width: 55px;
      background-color: $dark;
      background: $dark;
      overflow: hidden;

      @media (max-width:768px){
        margin-top: 20px;
        height: 45px;
        width: 45px;
      }

      @media (max-height:680px) and (min-width: 768px){
        margin-top: 20px;
        height: 45px;
        width: 45px;
      }

    .logo {
      background-image: url(../../resources/images/logo_light.png);
      z-index: 99;
      top: 7px;
      left: 7px;
      height: 40px;
      width: 40px;
      display: block;
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;

      @media (max-width:768px){
        height: 30px;
        width: 30px;
      }

      @media (max-height:680px){
        height: 30px;
        width: 30px;
      }

    }

     &:hover {
      cursor: pointer;
      background: #8ADD8A;
      .logo {
        background-image: url(../../resources/images/logo.png);
        box-shadow: 10px 0 0 #8ADD8A, -10px 0 0 #8ADD8A;
      }
    }
  }


  @media (min-width: 768px) {
    color: #F6F7F7;

    .logo-link  {
      background-color: #F6F7F7;

      .logo {
        background-image: url(../../resources/images/logo.png);
      }

      &:hover {
        cursor: pointer;
        background: #8ADD8A;
        .logo {
          background-image: url(../../resources/images/logo.png);
          box-shadow: 10px 0 0 #8ADD8A, -10px 0 0 #8ADD8A;
        }
     }
    }    

    h1 {
      position: relative;
      padding-right: 0;
    }

    h2 {
      position: relative;
      top: auto;
      padding-right: 0;
    }

    h3 {
      position: relative;
      top: auto;
      padding-right: 0;
    }
  }
}

// Links Section

.links {
  height: 35%;
  margin: 40px 15px;

  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 36px;
    display: inline-block;
    font-weight: normal;

  }

  h2 {
    line-height: 1.6em;
    display: inline-block;
  }

  h4 {
    line-height: 1.8em;
  }

  @media (max-width:768px){
    display: block;
    height: auto;
    overflow:hidden;

    h1 {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 30px;
      display: inline-block;
    }

    h2 {
      display: none;
    }

    h4 {
      display: none;
    }
  }

  @media (max-height: 680px) and (min-width: 768px){

    h1 {
      font-size: 28px;
    }

    h2 {
      display: none;
    }

    h4 {
      display: none;
    }


  }

  .link-container {
    &:hover {
      cursor: pointer;

      .logo-link {
        background: #F6F7F7;
        span#projects {
          background-image: url(../../resources/images/project_logo.png) !important;
          box-shadow: 10px 0 0 #F6F7F7, -10px 0 0 #F6F7F7;
          color: $dark;
        }

        span#blog {
          background-image: url(../../resources/images/blog_logo.png) !important;
          box-shadow: 10px 0 0 #F6F7F7, -10px 0 0 #F6F7F7;
          color: $dark;
        }
      }

      .text-link {

        span {
          background: #F6F7F7;
          box-shadow: 10px 0 0 #F6F7F7, -10px 0 0 #F6F7F7;
          color: $dark;
        }

      }
    }
  }

  .logo-link {
      position: relative;
      display: inline-block;
      margin-top:0px;
      left:-10px;
      margin-right: 20px;
      float: left;
      height: 55px;
      width: 55px;
      background-color: $dark;
      overflow: hidden;
      background: $dark;

      @media (max-width: 768px){
        height: 45px;
        width: 45px;
        margin-top:10px;
        margin-bottom:10px;
      }

      @media (max-height: 680px) and (min-width: 768px){
        height: 45px;
        width: 45px;
        margin-top:0px;
        margin-bottom:0px;
      }

    .logo {
      height: 40px;
      width: 40px;
      top: 7px;
      left: 7px;
      display: block;
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;

      @media (max-width: 768px){
        height: 30px;
        width: 30px;
      }

      @media (max-height: 680px) and (min-width: 768px){
        height: 30px;
        width: 30px;
        top: 7px;
        left: 7px;
      }
    }
  }

  .text-link {
    display: inline-block;
    text-decoration: none;
    color: $dark;
  }

  .article-link {
    &:hover {
      span {
          background: #F6F7F7;
          box-shadow: 10px 0 0 #F6F7F7, -10px 0 0 #F6F7F7;
          color: $dark;
        }
    }
  }
}

.box-link .image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.box-link .layer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #8ADD8A; 
    opacity:.5;
    z-index:1;
}

.box-link {
	display: block;
  position:relative;
  overflow-y: hidden;
	float: left;

  padding: 0;
  width: 100%;

  @media (min-width: 768px){
    width: 50%;
  }


}

.box-link>div{
  height: inherit;
  padding:20px;

}

.box-link .content .text {
  margin-left: 3%;
  position: relative;
  z-index: 2;
}

.box-link {
  h1, h2, h3, h4 {
    color:#F6F7F7;
  }
}

.box-link h2, h3, h4 {
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
}

.box-link h3{
  line-height: 32px;
}

.highlighted {
  display: inline-block;
  position: relative;
  background: $dark;
  padding: 5px 0px;
  box-shadow: 10px 0 0 $dark, -10px 0 0 $dark;
}

.clearout {
  clear:both;
}

div.content {
  
  padding: 20px 20px;

  @media (min-width: 768px) {
    padding: 40px 60px;
  }

  @media (max-height: 680px) and (min-width: 768px){
    padding: 5%;
  }
}


nav {

  font-family: 'Lato', serif;
  position: absolute;
  display:block;
  text-align: center;
  font-size: 0;
  width: 100%;
  bottom: 10px;

  @media (max-width:768px){
    position: relative;
  }

  a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    padding: 10px;
    margin: 0 10px;
    display: inline-block;
    margin-top: 10px;
    background: $dark;
    margin-bottom: 20px;
    color: #F6F7F7;
  }

  @media (min-width: 768px) {
    
    white-space: nowrap;

    a {
      font-size: 17px;
      padding: 6px 19px;
      background: #F6F7F7;
      color: $dark;
      vertical-align: middle;
      &:hover {
        background: #8ADD8A;
        color:#F6F7F7;
      }
    }
  }



  @media (max-height: 390px) and (min-width: 768px) {
    display: none;
  }

  @media (max-height: 680px) and (min-width: 768px){
    a {
      margin-bottom: 40px;
    }
  }

}


/**
 * Icons
 */
.icon {
    > svg {
        display: inline-block;
        width: 20px;
        height: 20px;
        padding-right: 10px;
        vertical-align: bottom;
        path {
            fill: #F6F7F7;
            @media (min-width: 768px) {
              fill: $dark;
            }
        }
    }
}
