---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px 0px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

body {
  width: 100%;
  background: #fff;
  font-family: 'Lato', serif;

  @media (min-width: 768px) {
    background: #2F2F2F;
  }
}

div.wrapper{
  display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;

    margin-top:20px;
    margin-bottom:20px;
    margin-right:30px;
    margin-left:30px;

    @media (min-width:768px){
     margin-top:20px;
      margin-bottom:20px;
      margin-right:80px;
      margin-left:80px;
    }
}

/**
 * Links
 */
.top a {
    text-decoration: none;

    background: #2F2F2F;
    color: #F6F7F7;
    margin-left: 10px;
    box-shadow: 10px 0 0 #2F2F2F, -10px 0 0 #2F2F2F;
    padding: 10px 0px;

    &:visited {
      color: #F6F7F7;
    }

    &:hover {
      cursor: pointer;
      color: #2F2F2F;
      box-shadow: 10px 0 0 #8ADD8A, -10px 0 0 #8ADD8A;
      background: #8ADD8A;
    }

    @media (min-width:768px){

      background: #F6F7F7;
      color: #2F2F2F;
      margin-left: 10px;
      box-shadow: 10px 0 0 #F6F7F7, -10px 0 0 #F6F7F7;
      padding: 10px 0px;

      &:visited {
              color: #2F2F2F;
          }

      &:hover {
        cursor: pointer;
        color: #F6F7F7;
        box-shadow: 10px 0 0 #8ADD8A, -10px 0 0 #8ADD8A;
        background: #8ADD8A;
      }


    }

    
}

// Links Section

.links {
  width:100%;
  display: flex;
  padding-bottom: 60px;
  margin: 0 auto;
  flex: 1 1 auto;

  @media (max-width:768px){
    display: block;
  }

  h1 {
    margin-top: 0px;
    font-size: 36px;
    display: inline-block;
  }

  h2 {
    line-height: 1.6em;
    display: inline-block;
  }

  h4 {
    line-height: 1.8em;
  }

  a {
    text-decoration: none;
    color: #2F2F2F;

    &:visited {
        color: darken(#8ADD8A, 15%);
    }

    &:hover {
      cursor: pointer;
      span {
        background: #F6F7F7;
        box-shadow: 10px 0 0 #F6F7F7, -10px 0 0 #F6F7F7;
        color: #2F2F2F;
      }
    }
  }

}

.box-link .image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.box-link .layer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #8ADD8A; 
    opacity:.5;
    z-index:1;
}

.box-link {
	display: block;
  position:relative;
  overflow-y: hidden;

	float: left;
	top: 35px;
  padding: 0;
  width: 100%;

  @media (min-width: 768px){

    width: 50%;
  }


}

.box-link>div{
  height: inherit;
  padding:20px;

}

.box-link .content .text {
  position: relative;
  z-index: 2;
}

.box-link {
  h1, h2, h3, h4 {
    color:#F6F7F7;
  }
}

.box-link h2, h3, h4 {
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
}

.box-link h3{
  line-height: 32px;
}

.highlighted {
  position: relative;
  background: #2F2F2F;
  padding: 5px 0px;
  box-shadow: 10px 0 0 #2F2F2F, -10px 0 0 #2F2F2F;
}

.clearout {
  clear:both;
}

div.content {
  @media (min-width: 768px) {
    padding: 40px 60px;
  }

  padding: 40px 40px;
}

section.top {

  right: 0;
  bottom: 0;
  left: auto;
  color: #2F2F2F;
  margin-bottom: 60px;


  h1 {
    font-weight: 900;
    position: relative;
    padding-right: 35px;
    line-height: 1.2em;
    font-size: 45px;
    &:focus {
      outline: none;
    }
  }

  h2 {
    top: 10px;
    margin-top:15px;
    font-weight: normal;
    position: relative;
    padding-right: 35px;
    line-height: 1.8em;

    &:focus {
      outline: none;
    }
  }

  h3 {
    top: 35px;
    font-weight: normal;
    position: relative;
    padding-right: 35px;
    line-height: 1.2em;

    &:focus {
      outline: none;
    }
  }

  @media (min-width: 768px) {
    height: inherit;
    color: #F6F7F7;

    h1 {
      position: relative;
      padding-right: 0;
    }

    h2 {
      position: relative;
      top: auto;
      padding-right: 0;
    }

    h3 {
      position: relative;
      top: auto;
      padding-right: 0;
    }
  }
}

nav {

  font-family: 'Lato', serif;
  position: relative;
  display:block;
  text-align: center;
  font-size: 0;
  margin-top:50px;
  bottom: 20px;

  @media (max-width:768px){
    position: relative;
    margin-top: 100px;
    margin-bottom: 30px;
    width: 100%;
  }

  a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    padding: 10px;
    margin: 0 10px;
    display: inline-block;
    margin-top: 10px;
    background: #2F2F2F;
    margin-bottom: 20px;
    color: #F6F7F7;
  }

  @media (min-width: 768px) {
    
    white-space: nowrap;

    a {
      font-size: 17px;
      padding: 6px 19px;
      background: #F6F7F7;
      color: #2F2F2F;
      vertical-align: middle;
      &:hover {
        background: #8ADD8A;
        color:#F6F7F7;
      }
    }
  }

  @media (max-height: 390px) and (min-width: 768px) {
    display: none;
  }
}

#logo {
  background-image: url('/resources/images/logo_light.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  float: left;
  display:inline;
  margin-right: 25px;
  margin-left: 0px;
  @media (max-width: 768px){
    display:none;
  }
}

/**
 * Icons
 */
.icon {
    > svg {
        display: inline-block;
        width: 20px;
        height: 20px;
        padding-right: 10px;
        vertical-align: bottom;
        path {
            fill: #F6F7F7;
            @media (min-width: 768px) {
              fill: #2F2F2F;
            }
        }
    }
}
