---
layout: landing
title: Riley Parsons
---


<div class="wrapper">
  <div class="top">
  <a href="{{ site.url }}/" class="logo-link"><span class="logo"></span></a>
    <h1>Riley Parsons</h1>
    <h2>Studying Bioengineering and Entrepreneurship at </br><a class="text-link" href="https://www.scu.edu/">Santa Clara University</a></h2>
    <h2>Intern at <a class="text-link" href="http://svangel.com/">SV Angel</a></h2>
  </div>
  <div class="links">
      <div class="box-link" id="projects">
        <div class="content">
          <div class="text">
            <a class="link-container" href="{{ site.url }}/projects">
              <div class="logo-link"><span id="projects" class="logo" style="background-image: url(/resources/images/project_logo_light.png)"></span></div>
              <div class="text-link"><h1><span class="highlighted">Projects</span></h1></div>
            </a>
            <br>
            <br>
            {% for project in site.projects limit:1%}
            <a class= "article-link" href="{{post.url}}"><h2><span class="highlighted">{{project.title}}</span></h2></a>
            <h4><span class="highlighted">{{project.summary}}</span></h4>
          </div>
        </div>
        <div class="image" style="background-image:url({{project.image}})"></div>
        <div class="layer"></div>
        {% endfor %}
      </div>
      <div class="box-link">
        <div class="content">
          <div class="text">
            <a class="link-container" href="{{ site.url }}/blog">
              <div class="logo-link"><span id="blog" class="logo" style="background-image: url(/resources/images/blog_logo_light.png)"></span></div>
              <div class="text-link"><h1><span class="highlighted">Blog</span></h1></div>
            </a>
            <br>
            <br>
            {% for post in site.posts limit:1%}
            <a class="article-link" href="{{post.url}}"><h2><span class="highlighted">{{post.title}}</span></h2></a>
            <h4><span class="highlighted">{{post.date| date: '%B %d, %Y' }}</span></h4>
          </div>
        </div>
        <div class="image" style="background-image:url({{post.image}})"></div>
        <div class="layer"></div>
        {% endfor %}
      </div>
  </div>
  <nav>
    {% if site.github_username %}
      {% include icon-github.html username=site.github_username %}
    {% endif %}
    {% include icon-resume.html %}
    {% if site.twitter_username %}
      {% include icon-twitter.html username=site.twitter_username %}
    {% endif %}
    <!-- <a href="mailto:mindrun@icloud.com">Mail</a> -->
  </nav>
</div>


  <!-- ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> -->

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

