---
layout: landing
title: Riley Parsons
---


<div class="wrapper">
  <section class="top">
    <h1>Riley Steele Parsons</h1>
    <h2>Studying Bioengineering and Entrepreneurship at <a href="https://www.scu.edu/">Santa Clara University</a></h2>
    <br>
    <h2>Intern at <a href="http://svangel.com/">SV Angel</a></h2>
  </section>
  <section class="links">
      <div class="box-link" id="projects">
        <div class="content">
          <div class="text">
            <a><h1><span class="highlighted">Projects</span></h1></a>
            <br>
            <br>
            <a><h2><span class="highlighted">Spree</span></h2></a>
            <h4><span class="highlighted">A hyperlocal marketplace for students</span></h4>
          </div>
          <div class="layer"></div>
          <div class="image" style="background-image:url(resources/computer_gaze_stock-min.jpg)"></div>
        </div>
      </div>
      <div class="box-link">
        <div class="content">
          <div class="text">
            <a><h1><span class="highlighted">Blog</span></h1></a>
            <br>
            <br>
            <a><h2><span class="highlighted">Some title here</span></h2></a>
            <h4><span class="highlighted">April 4, 2016</span></h4>
          </div>
        </div>
        <div class="layer"></div>
      </div>
  </section>
  <div class="clearout"></div>
  <nav>
    {% if site.github_username %}
      {% include icon-github.html username=site.github_username %}
    {% endif %}

    {% if site.twitter_username %}
      {% include icon-twitter.html username=site.twitter_username %}
    {% endif %}
    <!-- <a href="mailto:mindrun@icloud.com">Mail</a> -->
  </nav>
</div>


  <!-- ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> -->

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

