<!-- header start -->
<div class="readium-container">
	<a href="{{ site.url }}/blog" class="logo-readium"><span class="logo" style="background-image: url(/resources/images/blog_logo_light.png)"></span></a>
	<a href="{{ site.url }}/project" class="logo-readium"><span class="logo" style="background-image: url(/resources/images/project_logo_light.png)"></span></a>
	<a href="{{ site.url }}/" class="logo-readium"><span class="logo" style="background-image: url(/resources/images/logo_light.png)"></span></a>
</div>
<!-- header end -->
