<!-- header start -->

<div class="readium-container">
	<a class="logo-readium" href="{{ site.url }}/">
		<div class="logo-wrapper"><span class="logo" style="background-image: url(/resources/images/logo_light.png)"></span>
		</div>
		<div class="title">Home</div>
	</a>
	<a class="logo-readium" href="{{ site.url }}/project">
		<div class="logo-wrapper"><span class="logo" style="background-image: url(/resources/images/project_logo_light.png)"></span>
		</div>
		<div class="title">Projects</div>
	</a>
	<a class="logo-readium" href="{{ site.url }}/blog">
		<div class="logo-wrapper"><span class="logo" style="background-image: url(/resources/images/blog_logo_light.png)"></span>
		</div>
		<div class="title">Blog</div>
	</a>
</div>


<!-- header end -->
